* {
    margin: 0 auto;
}
@font-face {
    font-family: "IowanOldSt_BT_Bold";
    src: url("../fonts/IowanOldSt_BT_Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    margin: 0 auto;
    padding: 0 auto;
}
nav {
    margin: 0 auto;
    max-width: 1800px;
    color: white;
    display: flex;
}
.logo_div {
    width: 10%;
    margin-right: 10px;
}
.logo_text_hebron {
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.logo_text_hebron_column {
    margin-left: 0px;
    justify-content: center;
    flex-direction: column;
}
.hebron_menu {
    padding-left: 0px;
    margin-left: 300px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.link_hebron_home_page {
    text-decoration: none;
}
.hebron_list {
    transition: all .5s;
    padding: 10px;
}
.hebron_list:hover {
    transition: all .5s;
    color: #cd546a;
}
#name_of_company {
    font-family: IowanOldSt_BT_Bold;
    margin-left: 0px;
    line-height: 1;
    letter-spacing: .2em;
    font-size: 24px;
    color: #5e646d;
}
#education_Organization {
    font-family: IowanOldSt_BT_Bold;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    color: #5e646d;
}
.link_our_mission {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #5e646d;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.link_students {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #5e646d;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.link_sudy {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #5e646d;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.link_faq {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #5e646d;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.link_get_involved {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #5e646d;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.link_contacts {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #5e646d;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.button_donate {
    position: relative;
    top: -5px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
    border: 2px solid #cd546a;
    border-radius: 35px;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    background-color: transparent;
    color: #cd546a;
    font-family: 'Montserrat', sans-serif;
     animation: pulse_animation 2s linear infinite;
}
.button_donate:hover {
    transition: all .3s;
    cursor: pointer;
    background: linear-gradient(135deg, #cb4c70, #d8774c);
    color: white;
}
.ukrainian_block_link {
    margin-top: 70px;
    margin-left: 20px;
}
.meet_our_students {
    margin-top: 50px;
   background: url(../img/bg-image-1.jpg);
    background-size: cover;
}
.meet_text {
    padding-left: 100px;
    padding-top: 100px;
    font-family: 'Helvetica', sans-serif;
    color: #cd546a;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}
.our_students_name {
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 100px;
    color: white;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
}
.link_to_home_page {
    padding-left: 100px;
    padding-right: 20px;
    text-decoration: none;
    color: #cb4c70;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: all .4s;
}
.link_to_home_page:hover {
    transition: all .4s;
    color: #c8c8c8;
}
.row {
    color: #c8c8c8;
    font-size: 22px;
    font-weight: bold;
    padding-right: 10px;
}
.link_to_students {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #c8c8c8;
}
.link_home_block_students {
    padding-bottom: 20px;
}
.student_portfolio_block{
    margin-top: 150px;
    display: flex;
    max-width:1800px;
}
.social_block{
    display: flex;
    margin: 10px;
}
.social_block div{
    margin:15px;
}
.photo img{
    box-shadow: 2px 2px 20px 5px gray;
    width: 100%;
}
.photo{
    width: 80%;
}
.block_with_student_block{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.contetn_information{
    width: 40%;
    margin-left: 5px;
}
.content_name{
    font-size: 40px;
    color: #292929;
    font-family: "Helvetica";
    font-weight: 700;
    margin-bottom: 10px;
}
.paragraph_first{
    color: gray;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.paragraph_second{
    color: #292929;
    font-family: "Helvetica";
    font-size: 22px;
    font-weight: 400;

}
@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.icon_pic{
    animation: pulse_animation 1s linear infinite;
}
.down_block{
    background-color: #28313a;
    display: flex;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.check_us_block{
    display: flex;
    flex-direction: column;
}
.links_us{
    display: flex;
    flex-direction: column;
}
.icons_block{
    display: flex;
    margin-bottom: 100px;
}
.icon_inblock{
    cursor: pointer;
    margin-left: 10px;
}
.content_down_block{
    width: 100%;
    max-width: 1800px;
    display: flex;
}
.name_uper_block_check_us{
    margin-left: 0px;
    font-family: "Helvetica";
    color: #ffefb1;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}
.ul_check_us{
    padding-left: 0px;
    list-style: none;
}
.check_us_list{
    font-family: "Helvetica";
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding:10px;
}
.name_hebron_footer{
    margin-left: 50px; 
    font-family: IowanOldSt_BT_Bold;
    line-height: 1;
    letter-spacing: .2em;
    font-size: 24px;
    color: white;
}
.text_hebron_footer{
    margin-left: 50px;    
    font-family: IowanOldSt_BT_Bold;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
footer{
    background-color:#242c34;
    padding-top:50px;
    padding-bottom: 50px;
}
.block_footer_text{
    max-width: 1800px;
}
.footer_text{
    color: #c8c8c8;
    font-size: 16px;
    padding-left: 100px;
   font-family: IowanOldSt_BT_Bold;  
}
.link_it_hebron{
    text-decoration: none;
    transition: all .4s;
    color: red;
}
  .check_us_list1{  font-family: "Helvetica";
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding:10px;
    transition: all .4s;
    }
.check_us_list1:hover{
      transition: all .4s;
      color: #88afef;
}
 /*style to button and menu fixed block*/
 .fixed {
    transition: all .5s;
    background-color: #292929;
    opacity: .9;
    color: white;
    display: flex;
    position: fixed;
    margin: 0 auto;
    top: 0;
    right: 0px;
    left: 0px;
    max-width: 5000px;
    z-index: 2;
}
.fixed .logo_text_hebron {
    margin-top: 0px;
    width: 20%;
}
.fixed .hebron_menu {
    margin-top: 30px;
}
.fixed .ukrainian_block_link {
    margin-top: 40px;
}
.scrollToTop {
    width: 100px;
    height: 30px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(135deg, #cb4c70, #d8774c);
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    border-top-left-radius: 25px;
    font-size: 25px;
}
.scrollToTop:hover {
    text-decoration: none;
}
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}